@CHARSET "UTF-8";

/*clear browser default styling*/
body,div,dl,dt,dd,li,pre,form,fieldset,input,textarea,p,blockquote,th,td,button
	{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

address,caption,cite,code,dfn,em,strong,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,th {
	text-align: left;
	font-weight: normal;
	font-style: normal;
}

acronym,abbr,fieldset,img {
	border: 0;
}

:focus {
	outline: 0;
}

/*clear browser default styling*/


body {
	background-color: #E0E0E0;
	font-family: serif;
	margin: 0;
}

@font-face {
	font-family: cooperBlack;
	src: url('../images/fuentes/CooperBlackStd.otf');
	font-weight: 200;
}

#wrapper {
	align: relative;
	/*width: 1200px;*/
	width: 100%;
	min-height:100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../images/fondo.png');
}

#main {
	height:auto;
	width: 100%;
}

#main_menu {
	position: relative;
	left: 25%;
	float : left;
	width: 60%;
	height: 100%;
	float: left;
}

#Coic {
	position: relative;
	float: left;
	margin-top:10px;
	background-size: auto;
	background-image: url('../images/coic.png');
	height: 140px;
	width: 50%;
	background-repeat: no-repeat;
}

#LaPelicula {
	position: relative;
	float: left;
	margin-top:10px;
	background-size: auto;
	background-image: url('../images/LaPelicula.png');
	height: 140px;
	width: 50%;
	background-repeat: no-repeat;
}

#login {
	position: relative;
	left: 260px; float : left;
	text-align: right;
	width: 20%;
	height: 150px;
	float: left;
}

#login a {
	font-size: 18px;
	font-family: serif;
	color: rgb(74, 170, 243);
	margin-left: 10px;
}

#header {
	background-image: url('../images/header.png');
	border-bottom-style: groove;
	border-bottom-width: 2px;
	position: relative;
	height: 150px;
}

#header ul li {
	display: inline;
}

#header ul li a {
	font-family: cooperBlack, sans-serif;
	text-decoration: none;
	color: rgb(74, 170, 243);
	padding: 14px 50px;
	text-align: center;
	font-size: 40px;
}

#navigation {
	height: 20px;
	width:100%;
	margin-top:10px;
}

#navigation ul li {
	position: relative;
	font-family: sans-serif;
	color: white;
	left: 110px;
	display: inline;
	padding: 14px 10px;
}

#navigation a {
	color: white;
}

.curved {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url(border-radius.htc);
}

#pdf {
	position: relative;
	background-image: url('../images/convocatoria.png');
	width: 850px;
	height: 1100px;
	margin-left: auto;
	margin-right: auto;
	border-style: none;
	border-width: 2px;
}

#footer {
	height: 70px;
	
}
#footer ul li {
	display: inline;
	float: left;
	font-family: cooperBlack, Times New Roman, Times, serif !important;
	font-size: 20px;
	font-style: normal;
	padding: 14px 10px;
}

#footer a {
	font-family: cooperBlack;
	color: white;
	font-size: 20px;
}

#facebook {
	float: right;
	margin-right: 46px;
	margin-left: 20px;
	margin-top: 20px;
	background-image: url('../images/facebook.png');
	width: 28px;
	height: 28px;
	border: 0px,;
}

#twitter {
	float: right;
	margin-right: 80x;
	margin-left: 20px;
	margin-bottom: 30px;
	margin-top: 20px;
	background-image: url('../images/twitter.png');
	width: 28px;
	height: 28px;
	border: 0px,;
}