@CHARSET "UTF-8";

body {
	background-color: #E0E0E0;
}

#wrapper {
	align: relative;
	width: 1200px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FCFCFC;
}

#logo {
	position: absolute;
	top: 10px;
	left: 280px; background-image : url('../images/movie.jpg');
	height: 70px;
	width: 300px;
	background-size: auto;
	background-image: url('../images/movie.jpg');
}

#header {
	background-color: #F7F7F7;
	position: relative;
	width: 900px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	top: 10px;
	border-style: solid;
	border-width: 2px;
}

#header ul {
	position: relative;
	left: 50px;
	top: 90px;
}

#header ul li {
	display: inline;
}

#navigation ul li {
	position: relative;
	left: 110px;
	display: inline;
	padding: 14px 10px;
}

#header ul li a {
	font-family: serif;
	font-color: black;
	padding: 14px 50px;
	text-align: center;
	font-size: 40px;
}

.curved {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url(border-radius.htc);
}

#pdf {
	position: relative;
	background-image: url('../images/pefcoic.png');
	width: 850px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 2px;
}

#footer ul li {
	font-family: serif;
	display: inline;
	padding: 14px 10px;	
	
}